{%extends "index.html" %}
{% block content %}

<head>
   <div class="pictures">
      <img src="{{ url_for('static', filename='img/animal.jpg')}}"style="max-height: 600px;">
   </div>
</head>
	<div class="text">50 billion animals are raised and slaughtered in factory farms around the world each year, around 10 billion of these in the USA. Most experience extreme levels of suffering over the course of their lives due to their poor treatment. Relatively small improvments to their treatment could substantially improve their welfare.
	</div>
	<div class="big-container">
		<div class="subheader">Scale 11/16</div>
		<div class="text">We think intense efforts to reduce meat consumtion could reduce factory farming in the US by up to 80%.</div>
	</div>

	<div class="big-container">
		<div class="subheader">Neglectdness 4/12</div>
		<div class="text">Between $10-100 million in annual funding.</div>
	</div>	

	<div class="big-container">
		<div class="subheader">Solvability 7/8</div>
		<div class="text">Very plausible ways to make progress, with some expert support and own dedication.</div>
	</div>
	<div class="big-container">
		<div class="subheader">Selected Organisations</div>
		<ul class="nav-links">
               <li><a href="#">Mercy For Animals</a></li>
               <li><a href="#">The Good Food Institute</a></li>
               <li><a href="#">The Humane League</a></li>
               <li><a href="#">...</a></li>
            </ul>
	</div>


   	</div>

{% endblock content%}











</body>