{%extends "index.html" %}
{% block content %}

<head>
   <div class="pictures">
      <img src="{{ url_for('static', filename='img/future.jpg')}}"style="max-height: 600px;">
   </div>
</head>
	<div class="text">According to current estimations, unmitigated greenhouse emissions are likely
	to lead to gloabal temperature increaded of 2.6°C to 4.8°C by 2100. If this happend, there'd likely be significant humanitarian harms, including more severe weather, food crises, and the spread of inectious diseases which would disproportionately affect the world's worst off.
	</div>
	<div class="big-container">
		<div class="subheader">Scale 14/16</div>
		<div class="text">Extreme climate change could have catastrophic consequences for the human civilisation </div>
	</div>

	<div class="big-container">
		<div class="subheader">Neglectdness 2/12</div>
		<div class="text">The biggest industrial and developing countries are fighting cilmate change through energy policys and similar options. But only a few are involved in solutions for extreme risks of climate change (eg. geoengenieering, radical reduction in emissions etc.)</div>
	</div>	

	<div class="big-container">
		<div class="subheader">Solvability 5/8</div>
		<div class="text">Free-Rider problem. Because the problem is global and is predicted to hit some particular devastating dimensions. Emerging nations like China, India and Africa increase their emissions as much as some Developed try to decrease them.</div>
	</div>
	<div class="big-container">
		<div class="subheader">Selected Organisations</div>
		<ul class="nav-links">
               <li><a href="#">Cool Earth</a></li>
               <li><a href="#">Citiziens Climate Lobby</a></li>
               <li><a href="#">Coral Reef Alliance</a></li>
               <li><a href="#">...</a></li>
            </ul>
	</div>


   	</div>


{% endblock content%}










</body>