<!DOCTYPE html>
<html>
<head>
	<title>Login/Registration</title>
</head>
<body>
	<h1>REGISTRATION</h1>
	<form action='/newuser' method='POST'>
    	<label for="first_name">First Name: <input type="text" name="first_name" id="first_name"></label>
    	<label for="last_name">Last Name: <input type="text" name="last_name" id="last_name"></label>
    	<label for="email">Email: <input type="text" name="email" id="email"></label>
    	<label for="password">Password: <input type="password" name="password" id="password"></label>
    	<label for="password_confirmation">Password Confirmation: <input type="password" name="password_confirmation" id="password_confirmation"></label>
    	<input type="submit" value="Register">
  </form>

  {% with messages = get_flashed_messages() %}
		{% if messages %}
			{% for message in messages %}
        		<p>{{message}}</p>
      		{% endfor %}
    	{% endif %}
  	{% endwith %}

	<h1>LOGIN</h1>
	<form action='/loginuser' method='POST'>
		<label for="email">Email: <input type="text" name="email" id="email"></label>
		<label for="password">Password: <input type="password" name="password" id="password"></label>
		<input type="submit" value="Login">
	</form>

</body>
</html>
